body{
    background-color: #efedea;
}

h1{
    text-align: center;
    color: #005EB8;
}

.container{
    display: table;
    width:100%;
}

.filter{
    display: table-cell;
    vertical-align: top;
    color: #005EB8;
    padding:0 10px;
}

.filter h2{
    margin:5px;
}
.filter div{
    padding:20px;
    background-color: white;
    
}

.star-filter ul{
    list-style: none;
    padding: 0;
}

.hotel-container {
    display: table-cell;
    vertical-align: top;
    width: 80%;
}

.sort ul{
    padding:0;
    margin:0;
    width:100%;
}
.sort li{
    display: inline;
    float:left;
    background-color:#FF7802;
    border-right:1px solid #005EB8 ;
    width: 24%;
    font-family: helvetica;
    padding: 10px 0;
    text-align: center;
    padding: 10px 0;
        
}

i.fas.fa-star {
    color: #e6d328;
}

.hotel-details-container{
    display: table;
    width: 96%;
    
}
.hotel-details{
    display:block;
    width: 100%;
    height: 200px;
    margin-bottom: 5px;
    background-color: white;
    
}

.hotel-image{
    display:table-cell;
    vertical-align: top;
    width:250px;
    padding: 10px 20px 10px 20px;
    max-width:250px;
    height: 90%;
    overflow: hidden;
}
.hotel-image img{
    
    height:180px;  
    width :250px; 
    
}

.hotel-image img:before {
    content: " ";
    display: block;
    position: absolute;
    height: 180px;
    width: 250px;
    background-image: url("Taj_Mahal.png");
    background-size: 100% 100%;
}

.hotel-text{
    display:table-cell;
    vertical-align: top;
    width: 60%;
    padding: 20px;
    font-size: 20px;
    color: #676464;
}

.hotel-cost{
    display:table-cell;
    vertical-align: top;
    width: 18%;
    padding: 50px 50px 20px 20px;
    font-size: 20px;
    
}

.select-hotel{
    background-color: #005EB8;
    outline: none;
    border: none;
    font-size: 20px;
    margin-top: 20px;
    width: 100px;
    color: white;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.pagination{
    text-align: center;
    width : 96%;
    background-color: white;
}
.pagination div, li {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    display: inline;
    cursor: pointer;
    
}
.pageNumbers{
    display: inline-block;
    padding-left: 0;
}
.active-page{
    border: solid 1px;
    background-color: #676464;
}